.contactsList {
  margin: 0 auto;
  max-width: 300px;
  list-style: none;
  padding: 0;
}

.contactListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  border: 1px solid lightgreen;
  border-radius: 10px;
  padding: 0 10px;
}

.contactListItem:not(:last-of-type) {
  margin-bottom: 10px;
}
